<ul>
  <li><a routerLink="/">Icin Bank</a></li>
  <li><a routerLink="/Adminlogin">Admin Login</a></li>
  <li><a routerLink="/login">Customer login</a></li>
  <li><a routerLink="/signup">Customer Sign-up</a></li>
</ul>
<router-outlet>
</router-outlet>
<!-- <div class="cards">
  <div class="card">
    <button  routerLink="/">Icin Bank</button ><br/>
  </div>
  <div class="card">
    <button  routerLink="/Adminlogin">Admin Login</button >
  </div>
  <div class="card">
    <button  routerLink="/login">Customer login</button >
  </div>
  <div class="card">
    <button  routerLink="/signup">Customer Sign-up</button >
  </div>
</div> -->
