
<div class="card">
    <div class="container">
        <div class="flex-container">
            <h4><b>Primary Balance: </b></h4>
            <h2><b>₹ {{data.primaryAmount}}</b></h2>
        </div>
      
    </div>
  </div>
<div class="card">
    <div class="container">
        <div class="flex-container">
            <h4><b>Savings Balance: </b></h4>
            <h2><b>₹ {{data.savingsAmount}}</b></h2>
        </div>
    </div>
</div>
<div class="card">
    <div class="container">
        <div class="flex-container">
            <button (click)="requestChequeBook()" class="button">Request Cheque Book</button>
            <button (click)="routeToTransferMoney()" class="button" >Transfer Money</button>
        </div>
    </div>
</div>



<div class="float-card">
    <div class="container">
        <div class="flex-container">
            <button (click)="routeToWithDraw()" class="button">Withdraw</button>
        </div>
    </div>
</div>
<div class="float-card2">
    <div class="container">
        <div class="flex-container">
            <button (click)="routeToDeposit()" class="button">Deposit</button>
        </div>
    </div>
</div>



<div class="float-button">
    <div class="container">
        <div class="flex-container">
            <button (click)="logoutHandler()" class="button">Log out</button>
        </div>
    </div>
</div>