<p>customer-main-screen works!</p>
<div class="card">
    <div class="container">
        <div class="flex-container">
            <h4><b>Primary Balance: </b></h4>
            <h2><b>$ 5000</b></h2>
        </div>
      
    </div>
  </div>
<div class="card">
    <div class="container">
        <div class="flex-container">
            <h4><b>Savings Balance: </b></h4>
            <h2><b>$ 5000</b></h2>
        </div>
    </div>
</div>

<div class="float-card">
    <div class="container">
        <div class="flex-container">
            <button class="button">Withdraw</button>
        </div>
    </div>
</div>
<div class="float-card2">
    <div class="container">
        <div class="flex-container">
            <button class="button">Deposit</button>
        </div>
    </div>
</div>