
form {
  border: 3px solid #f1f1f1;
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
  width: 25%;
  padding: 12px 20px;
  margin-left: 15%;
  margin-right: 60%;
  margin-bottom: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


button {
  background-color: #000503;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.container label {
  margin-left: 12.5%;
}
/* login button */
.loginbtn {
  margin-left: 17%;
}


@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
